html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* my css */
.request_cart {
    text-align: center;
    border: solid 1px #5cb85c;
    margin: 10px;
    padding: 10px;
}
.col-sm-4.kartochka>div {
    text-align: center;
    border: solid 1px #5cb85c;
   
    padding: 10px;
}
.col-sm-4.kartochka {
    margin-top: 20px;
}
.row.title_cart_request {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row.price_cart_request {
    font-size: 16px;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
}
.row.username_kartocha {
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
}
.row.user_rating {
    color: green;
}

div.username_profile {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.row.button_cart_request {
    text-align: right;
    margin-right: 20px;
}
.row.title_cart_request,.row.price_cart_request {
    text-align: left;
    margin-left: 20px;
}
.container.requests {
    
}
.row.date_cart_request {
    font-size: 12px;
    font-weight: bold;
    color: #5cb85c;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}
.col-sm-6.title_request_single {
    text-align: -webkit-auto;
    font-size: 20px;
    padding-left: 30px;
    color: #34c01e;
}
.col-sm-6.price_request_single {
    text-align: -webkit-auto;
    font-size: 26px;
    padding-left: 30px;
    color: #d81e05;
}
.row.desc_request_single {
    text-align: -webkit-auto;
    font-size: 16px;
    padding-left: 30px;
    color: #000000;
}
.row.block_request_single {
    border: solid 1px red;
    padding: 13px;
    background: #f7ffef;
}
.col-sm-6.price_request_single>span {
    background: #5cb85c;
    padding: 4px;
    font-size: 16px;
    color: white;
}
.col-sm-6.price_request_single {
    text-align: right;
}

.main-message-container {
    width: 100%!important;
}
div.main-message-container .layout-background {
    background: #4caf50;
}
.friends.active {
    background-color: #3cdc39;
}
.contact.friends {
    background-color: #4caf50;
}

.message-thread.message-wrapper.clearfix {
    width: 100%;
}
.list_users.message-user-list.friends-message-layout {
    width: 100%;
    background-color: white;
}
div#scrollbar3 {
    width: 100%!important;
}

.overview {
    width: 100%!important;
}
.viewport {
    width: 100%!important;
}
.contact.friends {
    float: left;
    margin: 20px;
    background: none;
    border: solid 1px #4caf50;
    padding: 10px;
}
.friends-name div {
    font-size: 16px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.contact.friends.active {
    background: #bdebbf;
}
.friends.active .friends-block:after {
    display:none; 
}
.my-message .massage-cell {
    text-align: right;
    background: #b1edb4;
}
.row.block_response {
    border: solid 1px green;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
.row.response_title {
    font-size: 22px;
    font-weight: bold;
}
.row.response_desc {
    font-size: 15px;
}
.row.response_date span {
    background: green;
    padding: 3px;
    color: white;
}
.row.response_date,.row.response_price {
    text-align: right;
}
.row.response_price span {
    font-weight: bold;
    background: red;
    color: white;
    padding: 2px;
}
.row.response_price {
    padding-top: 10px;
}
.row.response_timing {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: green;
}